<<<<<<< HEAD
body {
    background-color: #240c8c;
    overflow: hidden;
}

.forehead {
    padding: 20px 30px;
    background-color: #19095d;
}

.head {
    text-align: left;
}

.headtext1 {
    color: #68e3db; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: text 3.5s 1;
    animation-iteration-count: infinite;
}
@keyframes text {
    20% {
        color: #68e3db;
        margin-bottom: -40px;
    }
    50% {
        color: #eb52e4;
        letter-spacing: 28px;
        margin-bottom: -40px;
    }
    60% {
        color:#e4f306;
        letter-spacing: 15px;
        margin-bottom: -40px;
    }
    70% {
        color: white;
        margin-bottom: -40px;
    }
    80% {
        color: #68e3db;
        margin-bottom: -40px;
    }
=======
body {
    background-color: #240c8c;
    overflow: hidden;
}

.head {
    text-align: center;
}

.headtext1 {
    color: #68e3db; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: text 3.5s 1;
    animation-iteration-count: infinite;
}

@keyframes text {
    12% {
        color: #68e3db;
        margin-bottom: -40px;
    }
    50% {
        color: #eb52e4;
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    80% {
        color:#e4f306;
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
>>>>>>> 43729dc51f3be798d8fbddb221d87a1e041ba68e
}